<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6" >
      <p>Have any questions?</p>
      <a href="#">Drop us a line!</a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <i class="fab fa-facebook-square"></i><a href="#"> Like us on Facebook</a> <br>
      <i class="fab fa-pinterest-square"></i><a href="#"> Pin us on Pinterest</a> <br>
      <i class="fab fa-instagram-square"></i><a href="#"> Follow us on Instagram</a>
    </div>
    <div class="col-md-4">
      <p>© 2021 Jazz Bird Bakery</p>
      <hr>
      <p>In association with <a href="#">Near Death Cakes</a> </p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="index.js" charset="utf-8"></script>
</body>


</html>
